body {
    background-image: image(dev) ;
}






.box {
    background-color: #73c8ef;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    opacity: 0.8;
}

.box2 {
    width: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box3 {
    width: 50%;
    height: 50%;
    background-color:#ffd2bf ;
}