body {
    background-image: url("image/Dev-Full-Stack-1280x720.png") ;
}

.box {
    background-color: #73c8ef;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    opacity: 0.9;
}

.box2 {
    width: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box3 {
    width: 100%;
    height: 60%;
    border-radius: 8px;
    background-color:#ffd2bf ;
}

.box4 {
   display: flex;
   
   
}
.iuri {
    opacity: 1;
    width: 40%;
    height: 40%;
    border-radius: 50%;
    padding: 20px;
}
